.menu-component{
    z-index: 10;
}

.menu-toggle {
    margin: auto;
    display: block;
    width: 40px;
    height: 32px;
    background: none;
    cursor: pointer;
    &.on span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    &.on span:nth-last-child(2) {
        transform: rotate(-45deg) translate(-5px, 15px);
    }
    &.on span:nth-last-child(1) {
        transform: rotate(45deg) translate(-5px, -15px);
    }

    &.on ~ .menu {
        transform: none;
    }

    span {
        z-index: 20;
        align-items: center;
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #252525;
        border-radius: 3px;

        transform-origin: 4px 0px;

        transition: transform 0.5s ease, background 0.5s ease, opacity 0.55s ease;

        &:first-child {
            transform-origin: 0% 0%;
        }
        &:nth-last-child(2) {
            transform-origin: 0% 100%;
        }
    }
}

.menu {
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s ease;
    background: #a5dfff;
    width: 30%;
    display: block;
    margin-top: -50px;
    position: absolute;
    z-index:10;

    ul {
        margin-top: 50px;
        list-style: none;
        padding: 0;
    }
    li {
        width: auto;
        margin: 0;
    }
    a {
        color: white;
        display: block;
        font: bold 12px/20px Helvetica;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;

        &:hover {
            background: #93c6e2;
        }
    }
}
