$body: rgb(255, 255, 255);
$font: rgb(49, 49, 49);
$header: rgb(150, 150, 150);
$header_font: rgb(49, 49, 49);
$button_1: rgb(131, 131, 131);
$button_hover_1: rgb(100, 100, 100);
$menu_header: rgb(199, 199, 199);
